<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foody Reviews</title>
    <link rel="stylesheet" href="style.css">
    <link href="http://fonts.cdnfonts.com/css/modern-sans" rel="stylesheet">
    <style>
        @import url('http://fonts.cdnfonts.com/css/modern-sans');
    </style>

</head>
<header>
    <div class="container">


        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNXKCBUirLuKZOf30zVHkph4mU-kk4jWSw5Q&usqp=CAU" width="350" 
        height="80" alt="logo" class="logo">


        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Add Post</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Hot Reviews</a></li>
            </ul>
        </nav>
    

    </div>
</header>

<body>
    <script src="index.js"></script>
    <div class="row">
        <div class="column">
            <img src="">
        </div>
    </div>
</body>

</html>