<h1>About us and who we are</h1>
<p>We are a company founded by people who love food. This application was designed with the intention to make finding new and popular restaurants and cafes a simple and straight-forward process.
</p>
<br>
<div class="about-row">
  <div class="about-column">
    <div class="card">
      <img class="bio-img" src="/images/petar.jpeg" alt="Petar" style="width:100%">
      <div class="about-container">
        <h2>Petar Vidovic</h2>
        <p class="title">Loves coffee</p>
        <p>Ahh, there is nothing better than the smell and taste of great coffee.</p>
        <p>vidovicp20@gmail.com</p>
        <p><button class="contact-button">Contact</button></p>
      </div>
    </div>
  </div>
<div class="about-column">
    <div class="card">
      <img class="bio-img" src="/images/Jonathan.png" alt="Jonathan" style="width:100%">
      <div class="about-container">
        <h2>Jonathan Beck</h2>
        <p class="title">Loves carbonara</p>
        <p>Carbonara shmobara they say -- but I love it!.</p>
        <p>jonnydbeck@gmail.com</p>
        <p><button class="contact-button">Contact</button></p>
      </div>
    </div>
  </div>
<div class="about-column">
    <div class="card">
      <img class="bio-img" src="/images/nick.jpg" alt="Jonathan" style="width:100%">
      <div class="about-container">
        <h2>Nick Prater</h2>
        <p class="title">Loves mizu ramen</p>
        <p>You like ramen? Mizu!</p>
        <p>nikpratr@gmail.com</p>
        <p><button class="contact-button">Contact</button></p>
      </div>
    </div>
  </div>
 
