<h1>results</h1>
=======
<div id = "resultsContainer" class="results">
    <h2>{{City, State}}</h2>
    <p>{{description}}</p>
    <p>Created by {{user.name}}</p>
   <div class="resultRenderContainer">
   <img src="" alt=""/>
</div>
</div>