
<h1>results</h1>

        {{#each results}}
            {{#each reviews}}
                <h3>{{Foodie_User}}</h3>
                <p>{{Rating}}/5</p>
                <h2>{{Title}}</h2>
                <p>{{Body}}</p>

                
            {{/each}}
        {{/each}}