:root {
    --whiteish-bg-color: #f9f8fd;
    --vanillagray-color: #f6f5f3;
    --scuffeddarkgrey-text-color: #3d3d3f;
    --simpler-lime-green: #7dce94;

}
a {
    color: var(--jetblack-font-color);
}
body {
    margin: 0;
    background: #f9f8fd;
    font-family: 'Modern Sans', sans-serif;
    font-weight: 400;
    font: var(--scuffeddarkgrey-text-color);

}

header::after {
content: '';
display: table;
clear: both;
}

nav {
    float: right;

}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;
    position: relative;
}

nav ul li a {
    color: var(--scuffeddarkgrey-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}

nav a:hover {
color: var(--simpler-lime-green);

}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--vanillagray-color);
    position: absolute;
    top: 0;
    width: 100%;

}

.logo {
float: left;
padding: 10px 0;
}


.container {
    width: 80%;
    margin: 0 auto;

}


/* PHOTO CAROUSEL CSS STYLING: */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--vanillagray-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #3d3d3f;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* STYLING FOR SEARCH BAR */
/*
* {
    box-sizing:border-box;
    margin-left: auto;
    margin-right: auto;
  }
  
   Style the search field 
  form.searchbar input[type=text] {
    position: relative;
    display: block;
    margin: auto;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 20%;
    height: 42px;
    background: var(--scuffeddarkgrey-text-color);
  }
  
  /* Style the submit button */
  /* form.searchbar button {
    position: relative;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 5%;
    height: 42px;
    padding: 10px;
    background: var(--vanillagray-color);
    color: var(--scuffeddarkgrey-text-color);
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    /* cursor: pointer; */
  /* } 
  
  form.searchbar button:hover {
    background: var(--simpler-lime-green);
  }
  
  /* Clear floats */
  /* form.searchbar::after {
    content: "";
    clear: both;
    display: block;
  } */

  /* #home-search {
    position: relative;
    margin-left: auto; */

  /* }  */

  
  /*Nick's search bar */

  #home-search-area {
  display: flex;
  justify-content: center;
  position: relative;
  right: 345px;

  margin: 20px 0 20px 0;
}

#home-search {
  width: 250px;
  height: 42px;

  background-color: var(--scuffeddarkgrey-text-color);
  border: 1px solid grey;
  color: lightgray;
}

#home-submit {
  width: 60px;
  height: 42px;
  cursor: pointer;
  background-color: var(--scuffeddarkgrey-text-color);
  border: 1px solid grey;
  color: gray;
}

#home-submit button:hover {
  background: var(--simpler-lime-green);
}

#home-search::after {
    content: "";
    clear: both;
    display: block;
  }
